
ezOMR.xcodeproj/project.xcworkspace/contents.xcworkspacedata

ezOMR.xcodeproj/project.xcworkspace/xcuserdata/anuj.xcuserdatad/UserInterfaceState.xcuserstate

ezOMR.xcodeproj/xcuserdata/anuj.xcuserdatad/xcschemes/ezOMR.xcscheme

ezOMR.xcodeproj/xcuserdata/anuj.xcuserdatad/xcschemes/xcschememanagement.plist
*.dylib

libopencv_calib3d.2.4.2.dylib

libopencv_contrib.2.4.2.dylib

libopencv_core.2.4.2.dylib

libopencv_features2d.2.4.2.dylib

libopencv_flann.2.4.2.dylib

libopencv_gpu.2.4.2.dylib

libopencv_highgui.2.4.2.dylib

libopencv_imgproc.2.4.2.dylib

libcvblobs.a

libcvblob.dylib

libopencv_legacy.2.4.2.dylib

libopencv_nonfree.2.4.2.dylib

libopencv_ml.2.4.2.dylib

libopencv_objdetect.2.4.2.dylib

libopencv_ts.2.4.2.dylib

ezOMR.xcodeproj/project.pbxproj

ezOMR.xcodeproj/project.pbxproj

